campaign-monitor/n8n/campaign-monitor-flow.json
{
  "name": "Campaign Monitor Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-monitor",
        "options": {}
      },
      "id": "df46b6e2-f85f-41ef-8589-6aadc2cee3a8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        112
      ],
      "webhookId": "campaign-monitor-webhook",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst reports = body.reports || [];\nreturn reports.map(r => ({ json: r }));"
      },
      "id": "ab5a33aa-a95f-48ed-837f-866834e0698f",
      "name": "Split Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-filter-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c96104d5-1309-417d-9acc-d90c8d0cc9b4",
      "name": "Filter Alerts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-critical",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "critical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "condition-warning",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "warning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "warning"
            }
          ]
        },
        "options": {}
      },
      "id": "80424751-7b85-4938-89a9-c3741056ac85",
      "name": "Switch Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discordapp.com/api/webhooks/1490184157375234058/080xdWEubQpHLbFxumklHpgjsu3w9w2esr30O6yri2uZDgRhOy95vjXPoEdCndmoJ2N3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ '\\ud83d\\udea8 CRITICAL: ' + $json.name + ' | Metric: ' + String($json.metric) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8ebe66ec-c6f4-4a6a-a072-8ff31ac78892",
      "name": "Discord Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "metric",
              "value": "={{ $json.metric }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9b8f14d1-3057-44a2-9f8c-c433a72f4e63",
      "name": "Warning Simulated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        368
      ],
      "id": "a801e37a-2257-4cf8-bd16-2d909c1a4f45",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\nconsole.log('[N8N Error Handler]', JSON.stringify(errorData, null, 2));\nreturn [{ \n  json: { \n    errorMessage: errorData.execution?.error?.message || 'Unknown error',\n    nodeId: errorData.execution?.lastNodeExecuted || 'unknown',\n    timestamp: new Date().toISOString(),\n    executionId: errorData.execution?.id || 'unknown'\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        368
      ],
      "id": "11b4a7f8-f3b8-434c-8b48-a07f9205f908",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reports": {
      "main": [
        [
          {
            "node": "Filter Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Alerts": {
      "main": [
        [
          {
            "node": "Switch Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Status": {
      "main": [
        [
          {
            "node": "Discord Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warning Simulated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5b93e73d-ce8a-4aca-8f8e-263099937064",
  "meta": {
    "instanceId": "e146a2fdf4f2ba3381f8041da4d036731bfd78493cc793aa1399b934f683e03c"
  },
  "id": "OuhwyeZGFbIBp1fQ",
  "tags": []
}